---
title: Home
#layout: default
---

<div class="cover bg-light">
	<div class="container px-3">
		<div class="row">
			<div class="col-lg-6 p-2">
				<img
					class="img-fluid"
					src="/assets/images/index/hello.svg"
					alt="hello"
				/>
			</div>
			<div class="col-lg-6">
				<div class="mt-5">
					<p class="lead text-uppercase mb-1">Hello!</p>
					<h1
						class="intro-title marker"
						data-aos="fade-left"
						data-aos-delay="50"
					>
						I'm Alireza
					</h1>
					<p
						class="lead fw-normal mt-3"
						data-aos="fade-up"
						data-aos-delay="100"
					>
						Computer Scientist & Engineer
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section pt-4 px-3 px-lg-4" id="about">
	<div class="container-narrow">
		<div class="row">
			<div class="col-md-6">
				<p>
					Ever since I realized my fascination with
					computers, I have made it a priority to educate
					myself in various branches and fields of this
					extraordinary invention. Software engineering,
					databases, website creation, computer networks,
					and more—all resonate deeply with me. I have
					always enjoyed learning new things about
					computers, and that passion remains strong to this
					day.
				</p>
			</div>
			<div
				class="col-md-5 offset-md-1"
				data-aos="fade-left"
				data-aos-delay="100"
			>
				<img
					class="img-thumbnail"
					src="/assets/images/index/cyrus.png"
					alt="Cyrus"
				/>
			</div>
		</div>

		<p></p>

		<p>
			My enthusiasm and pleasure in learning and expanding my
			knowledge have not wavered over the years. I constantly
			strive to push the boundaries of knowledge by embracing
			new tools and skills, and applying the knowledge I have
			already acquired into practical applications.
		</p>

		<p>
			My name is Alireza, and I welcome you to this portfolio
			webpage that has been provided for your convenience. Here,
			you can freely explore and learn more about me by
			exploring the <a href="./projects.html">projects</a>,
			publications, and other related materials that I have
			worked on over the years.
		</p>
	</div>
</div>

<div class="container-narrow">
	<div class="text-center mb-5 mt-5">
		<h2 class="marker marker-center">My Skills</h2>
	</div>
	<div class="text-center">
		<p class="mx-auto mb-3" style="max-width: 600px">
			Over the years I've adopted the following several skills
			and packed them in my arsenal.
		</p>
	</div>

	<div class="bg-light p-3">
		<table class="table table-hover table-borderless">
			<tbody>
				<tr>
					<td>
						<div class="text-center">
							<img
								data-toggle="tooltip"
								title="Python"
								src="/assets/images/index/icon_pngs/python.png"
								class="img-thumbnail"
								style="width: 50px"
							/>
						</div>
					</td>
					<td>
						<div class="text-center">
							<img
								data-toggle="tooltip"
								title="C/C++17"
								src="/assets/images/index/icon_pngs/c++.png"
								class="img-thumbnail"
								style="width: 50px"
							/>
						</div>
					</td>
					<td>
						<div class="text-center">
							<img
								data-toggle="tooltip"
								title="SQL"
								src="/assets/images/index/icon_pngs/sql.png"
								class="img-thumbnail"
								style="width: 50px"
							/>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="text-center">
							<img
								data-toggle="tooltip"
								title="Docker"
								src="/assets/images/index/icon_pngs/docker.png"
								class="img-thumbnail"
								style="width: 50px"
							/>
						</div>
					</td>
					<td>
						<div class="text-center">
							<img
								data-toggle="tooltip"
								title="git"
								src="/assets/images/index/icon_pngs/git.png"
								class="img-thumbnail"
								style="width: 50px"
							/>
						</div>
					</td>
					<td>
						<div class="text-center">
							<img
								data-toggle="tooltip"
								title="Cloud Computing: Azure/AWS/OpenStack/VMware"
								src="/assets/images/index/icon_pngs/cloud_computing.png"
								class="img-thumbnail"
								style="width: 50px"
							/>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="text-center">
							<img
								data-toggle="tooltip"
								title="CI/CD"
								src="/assets/images/index/icon_pngs/ci_cd.png"
								class="img-thumbnail"
								style="width: 50px"
							/>
						</div>
					</td>
					<td>
						<div class="text-center">
							<img
								data-toggle="tooltip"
								title="Ansible"
								src="/assets/images/index/icon_pngs/ansible.png"
								class="img-thumbnail"
								style="width: 50px"
							/>
						</div>
					</td>
					<td>
						<div class="text-center">
							<img
								data-toggle="tooltip"
								title="Shell Scripting"
								src="/assets/images/index/icon_pngs/shell_scripting.png"
								class="img-thumbnail"
								style="width: 50px"
							/>
						</div>
					</td>
				</tr>

				<tr>
					<td>
						<div class="text-center">
							<img
								data-toggle="tooltip"
								title="OS: Linux/Windows/macOS"
								src="/assets/images/index/icon_pngs/os.png"
								class="img-thumbnail"
								style="width: 50px"
							/>
						</div>
					</td>
					<td>
						<div class="text-center">
							<img
								data-toggle="tooltip"
								title="Jira"
								src="/assets/images/index/icon_pngs/jira.png"
								class="img-thumbnail"
								style="width: 50px"
							/>
						</div>
					</td>
					<td>
						<div class="text-center">
							<img
								data-toggle="tooltip"
								title="Terraform"
								src="/assets/images/index/icon_pngs/terraform.png"
								class="img-thumbnail"
								style="width: 50px"
							/>
						</div>
					</td>
				</tr>

				<tr>
					<td>
						<div class="text-center">
							<img
								data-toggle="tooltip"
								title="Object-Oriented Programming"
								src="/assets/images/index/icon_pngs/oop.png"
								class="img-thumbnail"
								style="width: 50px"
							/>
						</div>
					</td>
					<td>
						<div class="text-center">
							<img
								data-toggle="tooltip"
								title="REST API"
								src="/assets/images/index/icon_pngs/rest-api.png"
								class="img-thumbnail"
								style="width: 50px"
							/>
						</div>
					</td>
					<td>
						<div class="text-center">
							<img
								data-toggle="tooltip"
								title="Flask"
								src="/assets/images/index/icon_pngs/flask.png"
								class="img-thumbnail"
								style="width: 50px"
							/>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="container-narrow">
	<div class="text-center mb-5 mt-5">
		<h2 class="marker marker-center">Experience</h2>
	</div>
	<div class="row">
		<div class="col-md">
			<div
				class="card mb-3"
				data-aos="fade-right"
				data-aos-delay="100"
			>
				<div class="card-header px-3 py-2">
					<div class="d-flex justify-content-between">
						<div>
							<h3 class="h5 mb-1">
								Cybersecurity Researcher
							</h3>
							<div class="text-muted text-small">
								UBICOMP Oulu
								<small>(2022-2023)</small>
							</div>
						</div>
						<img
							src="/assets/images/index/company_logos/ubicomp.png"
							width="20%"
							height="20%"
							alt="Cybersecurity Researcher"
						/>
					</div>
				</div>
				<div class="card-body px-3 py-2">
					<p>
						As a cybersecurity researcher, I deployed
						T-Pot honeypots on AWS and OpenStack
						platforms, integrated Terraform to automate
						code flow, and used Ansible and Kubernetes to
						manage instances and optimize resource
						allocation. Also, extracted data for analysis,
						set up a secure VMware vSphere private cloud,
						and developed a federated machine learning
						test bed using Python.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md">
			<div
				class="card mb-3"
				data-aos="fade-left"
				data-aos-delay="300"
			>
				<div class="card-header px-3 py-2">
					<div class="d-flex justify-content-between">
						<div>
							<h3 class="h5 mb-1">DevOps Consultant</h3>
							<div class="text-muted text-small">
								Eficode <small>(2022-2023)</small>
							</div>
						</div>
						<img
							src="/assets/images/index/company_logos/eficode.png"
							width="10%"
							height="10%"
							alt="DevOps Consultant"
						/>
					</div>
				</div>
				<div class="card-body px-3 py-2">
					<p>
						As a DevOps specialist, I had expertise in
						various tools and technologies, including
						Docker, Kubernetes, Terraform, Bash, Python,
						Linux, and Ansible. Also, specialized in
						GitHub Actions, Admins, and Advanced
						Securities, providing consultancy services to
						clients through Jira. I used GitHub Actions to
						automate workflows and accelerate CI/CD,
						managed and configured GitHub repositories
						through GitHub Admins, and practiced robust
						security solutions to protect clients'
						systems.
					</p>

					<div class="container mt-5">
						<h2>GitHub Certificates</h2>
						<p>
							I have acquired the following three GitHub
							certificates in this position:
						</p>
						<div id="accordion">
							<div class="card">
								<div
									class="
										card-header
										d-flex
										justify-content-between
									"
								>
									<a
										class="card-link"
										data-toggle="collapse"
										href="#collapseOne"
									>
										<div
											class="
												d-flex
												justify-content-between
											"
										>
											GitHub Actions

											<img
												src="/assets/images/index/github_badges/github-actions.png"
												width="10%"
												alt="GitHub Actions badge"
											/>
										</div>
									</a>
								</div>
								<div
									id="collapseOne"
									class="collapse"
									data-parent="#accordion"
								>
									<div
										class="card-body text-justify"
									>
										GitHub Actions is a powerful
										tool that enables the
										automation of workflows,
										including build, test, and
										deployment processes. As a
										GitHub Actions specialist, I
										have used this tool to
										streamline development
										workflows, reduce errors, and
										accelerate time-to-market for
										my clients.
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header">
									<a
										class="collapsed card-link"
										data-toggle="collapse"
										href="#collapseTwo"
									>
										<div
											class="
												d-flex
												justify-content-between
											"
										>
											GitHub Admin

											<img
												src="/assets/images/index/github_badges/github-admin.png"
												width="10%"
												alt="GitHub Admin badge"
											/>
										</div>
									</a>
								</div>
								<div
									id="collapseTwo"
									class="collapse"
									data-parent="#accordion"
								>
									<div
										class="card-body text-justify"
									>
										As an expert in GitHub Admins,
										I possess the skills and
										knowledge necessary to manage
										and configure GitHub
										repositories, users, and
										permissions. This includes
										implementing effective version
										control practices, maintaining
										repository security, and
										ensuring compliance with
										industry standards and
										regulations.
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header">
									<a
										class="collapsed card-link"
										data-toggle="collapse"
										href="#collapseThree"
									>
										<div
											class="
												d-flex
												justify-content-between
											"
										>
											GitHub Advanced Security

											<img
												src="/assets/images/index/github_badges/github-advanced-security.png"
												width="10%"
												alt="GitHub Advanced Security badge"
											/>
										</div>
									</a>
								</div>
								<div
									id="collapseThree"
									class="collapse"
									data-parent="#accordion"
								>
									<div
										class="card-body text-justify"
									>
										My experience in Advanced
										Securities allows me to
										provide clients with robust
										security solutions that
										protect their systems from
										cyber threats and unauthorized
										access. This includes
										implementing security best
										practices, such as
										multi-factor authentication,
										encryption, and secure coding
										practices, as well as
										performing regular security
										audits and vulnerability
										assessments.
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md">
			<div
				class="card mb-3"
				data-aos="fade-right"
				data-aos-delay="200"
			>
				<div class="card-header px-3 py-2">
					<div class="d-flex justify-content-between">
						<div>
							<h3 class="h5 mb-1">C/C++17 Developer</h3>
							<div class="text-muted text-small">
								FD Eshragh <small>(2020-2021)</small>
							</div>
						</div>
						<img
							src="/assets/images/index/company_logos/fd_eshragh.png"
							width="10%"
							height="10%"
							alt="C/C++17 Developer"
						/>
					</div>
				</div>
				<div class="card-body px-3 py-2">
					<p>
						Using C/C++ programming expertise, I developed
						and implemented a system that connected
						handheld transceiver to a telephone. I also
						designed and built an email client application
						for sending and receiving emails with file
						attachments. Additionally, I worked on audio
						file manipulation projects including
						conversion of raw audio files to mp3 format
						for use in other applications.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md">
			<div
				class="card mb-3"
				data-aos="fade-left"
				data-aos-delay="400"
			>
				<div class="card-header px-3 py-2">
					<div class="d-flex justify-content-between">
						<div>
							<h3 class="h5 mb-1">IT Specialist</h3>
							<div class="text-muted text-small">
								Mojab Pay <small>(2011-2017)</small>
							</div>
						</div>
					</div>
				</div>
				<div class="card-body px-3 py-2">
					<p>
						As an IT specialist, the major tasks included
						collaborating with teams to support and
						maintain the company's IT infrastructure,
						troubleshooting and resolving hardware and
						software issues, managing and monitoring user
						accounts and permissions, implementing backup
						and disaster recovery procedures,
						participating in new technology initiatives,
						researching and evaluating new hardware and
						software solutions, and maintaining knowledge
						of industry trends and best practices to
						improve efficiency and reduce costs.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-narrow">
	<div class="text-center mb-5 mt-5">
		<h2 class="marker marker-center">Projects</h2>
	</div>
	<p>Check out the projects that I've worked on.</p>
</div>

<!--
  <style>
  /* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
    height: 100%;
  }
  </style>
  -->

<div class="d-flex justify-content-center">
	<div id="demo" class="carousel slide" data-ride="carousel">
		<!--
  <ul class="carousel-indicators">
	{% assign index = 0 %}
	{% for project in site.projects %}
	  {% assign index = forloop.index0 %}
	  <li data-target="#demo" data-slide-to="{{index}}" {%if index == 1 %} class="active" {% endif %}></li>
	{% endfor %}
  </ul>
	-->
		<div class="carousel-inner">
			{% assign index = 0 %} {% for project in site.projects %}
			{% assign index = forloop.index0 %}
			<div
				class="
					carousel-item
					{%if
					index==
					1
					%}
					active
					{%
					endif
					%}
				"
			>
				<a
					href="{{project.url}}"
					data-toggle="tooltip"
					title="{{project.title}}&#13;&#13;{{project.description}}"
				>
					<img
						src="{{ project.img_loc }}"
						alt="{{ project.title }}"
					/>
				</a>
			</div>
			{% endfor %}
		</div>
		<a
			class="carousel-control-prev"
			href="#demo"
			data-slide="prev"
		>
			<span class="carousel-control-prev-icon"></span>
		</a>
		<a
			class="carousel-control-next"
			href="#demo"
			data-slide="next"
		>
			<span class="carousel-control-next-icon"></span>
		</a>
	</div>
</div>
