---
layout: default
title: Projects
---

<h1>{{page.title}}</h1>

<p>
	The list of all the projects that I have worked on so far is
	enumerated on this page. The projects span across various domains,
	including cybersecurity, artificial intelligence, machine learning
	and more.
</p>

<div class="text-justify">
	<hr style="width: 15em; margin: 0 auto" />
</div>
<p></p>

{% for project in site.projects %}
<!-- <p>{{ project.content | markdownify }}</p> -->

<div class="card bg-light">
	{% if project.img_loc %}
	<a href="{{ project.url }}">
		<img
			class="img-thumbnail"
			src="{{ project.img_loc }}"
			alt="{{ project.title }}"
		/>
	</a>
	{% endif %}
	<div class="card-body">
		<a href="{{ project.url }}">
			<h4 class="card-title">{{ project.name }}</h4>
		</a>
		<p class="card-text">{{ project.description }}</p>
	</div>
</div>
{% endfor %}
